.section-pessoa-fisica{
    width: 90%;
    
}

.section-content-fisica{

}

.section-content-juridica{

}

.section-content-picture{

}

.section-content-link{
    text-decoration: none;
    color: #000;;
}