/* FONT */

.header{
    position: relative;
    top: 0;
    width: 100%;
    height: 100px;
    /*background: midnightblue;*/
    background: rgb(241, 57, 57);
}

.header-nav {
    position: absolute;
    width: 100%;
    font-size: 11px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: rgb(76, 50, 223);
}

.nav-brand{
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-brand-image{
    width: 50px;
    height: 50px;
}

.nav-menu{
    width: 250px;
    display: flex;
    flex-direction: row-reverse;
}

.nav-menu-ul{
    display: flex;
    justify-content: space-around;
}

.nav-menu-li{
    display: flex;
}

.nav-menu-link{}

#iconeMenu{
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 5px;
    position: absolute;
}
#check{
display: none;
}